<h1>Editing feed_back</h1>

<% form_for(@feed_back) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @feed_back %> |
<%= link_to 'Back', feed_backs_path %>