<h1>Listing feed_backs</h1>

<table>


<% @feed_backs.each do |feed_back| %>
  <tr>
    <td><%=h feed_back.email %></td>
    <td><%=h feed_back.body %></td>
    <td><%=h feed_back.created_at %></td>
    <td><%= link_to 'Show', feed_back %></td>
    <td><%= link_to 'Edit', edit_feed_back_path(feed_back) %></td>
    <td><%= link_to 'Destroy', feed_back, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
